[project]
	description = PowerShell Desired State Configuration resource for WSUS
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Fabien Dibot (fabiendibot)
[access "refs/for/refs/*"]
	read = group user/Fabien Dibot (fabiendibot)
	push = group user/Fabien Dibot (fabiendibot)
	label-Code-Review = -2..+2 group user/Fabien Dibot (fabiendibot)
	label-Verified = -1..+1 group user/Fabien Dibot (fabiendibot)
	rebase = group user/Fabien Dibot (fabiendibot)
	removeReviewer = group user/Fabien Dibot (fabiendibot)
	submit = group user/Fabien Dibot (fabiendibot)
[access "refs/heads/*"]
	read = group user/Fabien Dibot (fabiendibot)
	create = group user/Fabien Dibot (fabiendibot)
	push = +force group user/Fabien Dibot (fabiendibot)
	pushMerge = group user/Fabien Dibot (fabiendibot)
[access "refs/tags/*"]
	push = +force group user/Fabien Dibot (fabiendibot)
	pushTag = group user/Fabien Dibot (fabiendibot)
	pushSignedTag = group user/Fabien Dibot (fabiendibot)
